@CHARSET "UTF-8";

img.card_image 
{
height:5%;
width:5%;
}
 
img.plus_sign
{
	height:8%;
	width:8%;
}

img.plus_sign_small
{
	position:relative;
	left:365px;
	top:-10px;
	height:4%;
	width:4%;
}

img.rotate_equal
{
	position:relative;
	left:400px;
	top:15px;
	height:6%;
	width:2%;
	-moz-transform:rotate(90deg); 
}

img.mark_and_cross
{
	position:relative;
	left:115px;
	top:-35px;
	height:15px;
	width:15px;
}

img.circle
{
	position:relative;
	left:310px;
	top:-35px;
}
  
p
{
	font-family:Arial,Verdana,Sans-serif;
	font-weight:600;
	line-height: 200%;
	text-align: left;
}

select
{
	position:relative;
	left:100px;
	top:-30px;
	height:40px;
	width:150px;
	font-size:35px;
}

a.selection_check
{
	position:relative;
	left:125px;
	top:-35px;
}

a.or
{
	position:relative;
	left:200px;
	top:-25px;
}

div.or_and_plus_sign
{
	visibility:hidden;
}

div.equal_sign
{
	visibility:hidden;
}
